<html xmlns:th="http://www.thymeleaf.org">
<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Thông Tin Cá Nhân</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a
				class="text-decoration-none text-black fw-bolder"
				th:href="@{/home}">Trang Chủ</a></li>
			<li class="breadcrumb-item active">Thông Tin Cá Nhân</li>
			<li class="breadcrumb-item active">Đổi Mật Khẩu</li>

		</ol>
		<div class="card"></div>
		<div class="row justify-content-center my-5">
			<form class="form-control w-50 card m y-5" method="post">
				<h5 class="card-header text-center">
					<b>Đổi Mật Khẩu</b>
				</h5>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col-md-6">
							<div class="form-floating mb-3 mb-md-0">
								<input class="form-control" id="username" type="text" readonly
									name="username" placeholder="Enter your username"
									th:value="${ user.username }" /> <label for="username">Tên
									Đăng Nhập</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating">
								<input class="form-control" id="password" type="password"
									name="old-password" placeholder="Enter your password" required
									requiredmsg="Vui Lòng Điền Mật Khẩu Hiện Tại" /> <label
									for="password">Mật Khẩu Cũ</label>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-6">
							<div class="form-floating mb-3 mb-md-0">
								<input class="form-control" id="newPassword" type="password"
									name="new-password" placeholder="Enter your New Password"
									required requiredmsg="Vui Lòng Điền Mật Khẩu Mới" /> <label
									for="newPassword">Mật Khẩu Mới</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating">
								<input class="form-control" id="confirmPassword" type="password"
									name="confirm-password"
									placeholder="Enter your Confirm Password" required
									requiredmsg="Vui Lòng Điền Mật Khẩu Xác Nhận Giống với Mật Khẩu Mới" />
								<label for="confirmPassword">Xác Nhận Mật Khẩu Mới </label>
							</div>
						</div>
					</div>
					<div class="mt-4 mb-0">
						<a class="btn btn-outline-secondary"êwwl20
							th:href="@{/account/info}">Quay Về</a>
						<button class="btn btn-outline-warning float-end">Đổi Mật
							Khẩu</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
		$(document).ready(
				function() {
					var elements = $("input, select");
					for (var i = 0; i < elements.length; i++) {
						elements[i].oninvalid = function(e) {
							e.target.setCustomValidity("");
							if (!e.target.validity.valid) {
								e.target.setCustomValidity(e.target
										.getAttribute("requiredmsg"));
							}
						};
						elements[i].oninput = function(e) {
							e.target.setCustomValidity("");
						};
					}
				})
	</script>
</html>