<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Liên Hệ</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
			<a class="text-decoration-none text-black fw-bolder"
			href="${ contextPath }/home">Trang
					Chủ</a></li>
			<li class="breadcrumb-item active">Liên Hệ</li>
		</ol>
		<div class="card mb-4"></div>	
		<div class="row">
			<div class="col-6">
				<form class="form-control card">
					<div class="card-header">Thông Tin Liên Hệ</div>
					<div class="card-body">
						<p>
							<i class="bi bi-telephone"></i> 0376 549 059
						</p>
						<p>
							<i class="bi bi-envelope"></i> leton1629@gmail.com
						</p>
						<p>
							<i class="bi bi-facebook"></i> <a
								href="https://www.facebook.com/ton.le.1656"
								style="text-decoration: none" class="text-dark">Tôn
								Lê</a>
						</p>
						<p>
							<i class="bi bi-map"></i> Công viên phần mềm Quang Trung, P. Tân
							Chánh Hiệp, Q.12, TP.HCM, Việt Nam
						</p>
					</div>
				</form>
			</div>
			<div class="col-6">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1139.9989812379142!2d106.6262939288323!3d10.853458413516746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b6c59ba4c97%3A0x535e784068f1558b!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1706698388099!5m2!1svi!2s"
					width="600" height="450" style="border: 0" allowfullscreen=""
					loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
		<hr />
	</div>
</main>