<main>
	<div class="container px-4">
		<h1 class="mt-4">Tin Tức</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
			<a class="text-decoration-none text-black fw-bolder"
			href="${ contextPath }/home">Trang
					Chủ</a></li>
			<li class="breadcrumb-item active">Tin Tức</li>
		</ol>
		<div class="card mb-4"></div>
		<div class="row">
			<div class="col-4">
				<img src="/imgs/braca.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-8">
				<a
					href="https://www.24h.com.vn/bong-da/barca-thay-mau-hang-loat-ngoi-sao-vao-mua-he-muon-thu-ve-200-trieu-euro-c48a1540363.html"
					class="chon text-decoration-none text-black fs-2"> Barca "thay máu" hàng loạt ngôi sao vào mùa
					hè, muốn thu về 200 triệu euro</a>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-4">
				<img src="/imgs/mu.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-8">
				<a
					href="https://www.24h.com.vn/bong-da/mu-suyt-mua-trung-uy-savic-100-trieu-euro-he-lo-ly-do-bi-tu-choi-c48a1539492.html"
					class="chon text-decoration-none text-black fs-2"> MU suýt mua "Trung úy" Savic 100 triệu euro,
					hé lộ lý do bị từ chối</a>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-4">
				<img src="/imgs/mu2.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-8">
				<a
					href="https://www.24h.com.vn/bong-da/rashford-khien-fernandes-that-vong-cuc-diem-nguy-co-bi-co-lap-tai-mu-c48a1540527.html"
					class="chon text-decoration-none text-black fs-2"> Rashford khiến Fernandes thất vọng cực điểm,
					nguy cơ bị cô lập tại MU</a>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-4">
				<img src="/imgs/Liverpool.jpg" class="img-fluid" alt="" />
			</div>
			<div class="col-8">
				<a
					href="https://www.24h.com.vn/bong-da/liverpool-thang-hoa-van-nen-can-trong-dop-den-truoc-chelsea-tai-ngoai-hang-anh-c48a1540531.html"
					class="chon text-decoration-none text-black fs-2"> Liverpool thăng hoa, vẫn nên cẩn trọng “dớp
					đen” trước Chelsea tại Ngoại Hạng Anh</a>
			</div>
		</div>
		<hr />
	</div>
</main>