<html xmlns:th="http://www.thymeleaf.org">
  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Điều Chỉnh Sân</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-black fw-bolder" th:href="@{/home}">Trang Chủ</a>
        </li>
        <li class="breadcrumb-item active">Điều Chỉnh Sân</li>
      </ol>
      <div class="row mb-4">
        <div class="col-lg-6">
          <div class="card shadow-lg border-3 rounded-lg mt-2 mb-3" style="height: 95.7%">
            <div class="card-header">
              <h5 class="text-center font-weight-light">Hình Ảnh Sân</h5>
            </div>
            <div class="card-body">
              <div class="col">
                <div class="row" id="imgs">
                  <div
                    class="col-6 w-50 my-3"
                    style="position: relative"
                    th:each="image : ${listHinhAnh} ">
                    <img
                      th:src="@{'/imgs/' + ${image != null ? image.tenAnh : ''}}"
                      class="img-fluid rounded"
                      alt=""
                      style="width: 500px; height: 170px" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 bg-success-subtle mb-3">
          <div class="card shadow-lg border-3 rounded-lg mt-2">
            <div class="card-header">
              <h5 class="text-center font-weight-light">Điều Chỉnh Sân Bóng</h5>
            </div>
            <div class="card-body">
              <form th:action="@{/admin/san/}" method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                  <input
                    class="form-control"
                    name="maSan"
                    type="hidden"
                    th:value="${san == null ? '' : san.maSan }" />
                  <div class="col">
                    <div class="form-floating mt-3">
                      <select class="form-select" id="loaiSan" name="loaiSan">
                        <div th:each="loaiSan : ${listLoaiSan}">
                          <option
                            th:value="${loaiSan.maLoai}"
                            th:utext="${ loaiSan.tenLoai }"
                            th:selected="${san != null} ? ${san.loaiSan.maLoai} == ${loaiSan.maLoai}"></option>
                        </div>
                      </select>
                      <label for="loaiSan">Loại sân</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input
                        class="form-control"
                        name="tenSan"
                        id="tenSan"
                        type="text"
                        th:value="${san == null ? '' : san.tenSan}"
                        required
                        requiredmsg="Vui lòng Nhập Tên Sân" />
                      <label for="tenSan">Tên Sân</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input
                        class="form-control"
                        name="giaSan"
                        id="giaSan"
                        type="number"
                        th:value="${san == null ? '' : san.giaSan}"
                        min="0"
                        max="999999"
                        required
                        requiredmsg="Giá Sân Không Hợp Lệ hoặc Đang Trống" />
                      <label for="giaSan">Giá Sân</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label">Trạng thái: </label>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="trangThaiSan"
                        value="true"
                        th:checked="${san != null && san.trangThaiSan ? 'checked' : null}" />
                      <label class="form-check-label" for="inlineRadio1">Hoạt Động</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="trangThaiSan"
                        value="false"
                        th:checked="${san != null && san.trangThaiSan ? null : 'checked'}" />
                      <label class="form-check-label" for="inlineRadio2">Ngưng Hoạt Động</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <div class="form-floating mt-2">
                      <input
                        class="form-control"
                        name="imgs"
                        type="file"
                        id="imgInput"
                        multiple="multiple" />
                      <label for="anhSan">Ảnh Sân</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <div class="form-floating mt-2">
                      <input
                        class="form-control"
                        name="diaChi"
                        type="text"
                        id="diaChi"
                        multiple="multiple"
                        required
                        requiredmsg="Vui Lòng Nhập Địa Chỉ"
                        th:value="${san == null ? '' : san.diaChi}" />
                      <label for="diaChi">Địa Chỉ</label>
                    </div>
                  </div>
                </div>
                <div class="form-floating mt-2" style="height: 100%">
                  <textarea
                    class="form-control h-100"
                    name="moTa"
                    th:utext="${san == null ? '' : san.moTa}"></textarea>
                  <label for="anhSan">Mô Tả</label>
                </div>
                <div class="mt-3 mb-4 form-inline">
                  <button
                    th:formaction="@{/admin/san/create}"
                    class="btn btn-outline-primary ${ isEdit ? 'd-none' : '' }">
                    Thêm
                  </button>
                  <button
                    th:formaction="@{/admin/san/update}"
                    class="btn btn-outline-info ${ isEdit ? '' : 'd-none' }">
                    Cập Nhật
                  </button>
                  <a
                    th:href="@{/admin/san/reset}"
                    class="btn btn-outline-dark ${ isEdit ? 'd-none' : '' }"
                    >Làm Mới</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table me-1"></i> Danh sách sân bóng</div>
        <div class="card-body">
          <table class="table bordered" id="datatablesSimple">
            <thead>
              <tr>
                <th>Mã Sân</th>
                <th>Loại Sân</th>
                <th>Tên Sân</th>
                <th>Giá Sân</th>
                <th>Mô Tả</th>
                <th>Trạng thái</th>
                <th>Khác</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="san : ${listSan}">
                <td th:text="*{san.maSan}"></td>
                <td th:text="*{san.loaiSan.tenLoai}"></td>
                <td th:text="*{san.tenSan}"></td>
                <td th:text="*{san.giaSan}"></td>
                <td th:text="*{san.moTa}"></td>
                <td th:text="*{san.trangThaiSan ? 'Hoạt Động' : 'Ngưng Hoạt Động' }"></td>
                <td><a th:href="@{'/admin/san/edit/' + ${san.maSan}} ">Chỉnh Sửa</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  <script
    type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      var elements = $("input, select");
      for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function (e) {
          e.target.setCustomValidity("");
          if (!e.target.validity.valid) {
            e.target.setCustomValidity(e.target.getAttribute("requiredmsg"));
          }
        };
        elements[i].oninput = function (e) {
          e.target.setCustomValidity("");
        };
      }
    });

    document.getElementById("imgInput").addEventListener("change", function (event) {
      var imgs = document.getElementById("imgs");
      while (imgs.hasChildNodes()) {
        imgs.removeChild(imgs.firstChild);
      }

      if (event.target.files && event.target.files.length > 0) {
        for (var i = 0; i < event.target.files.length; i++) {
          var file = event.target.files[i];
          var imageURL = URL.createObjectURL(file);

          // Tạo một div element
          var div = document.createElement("div");

          // Thiết lập các thuộc tính cho div element
          div.className = "col-6 w-50 my-3";
          div.style.position = "relative";

          var image = document.createElement("img");
          image.className = "img-fluid rounded";
          image.src = imageURL;
          image.alt = "";
          image.style.width = "500px";
          image.style.height = "170px";

          div.appendChild(image);

          console.log(div);
          imgs.appendChild(div);
        }
      }
    });
  </script>
</html>
